<template>
    <lightning-layout>
        <lightning-layout-item  size="4">
            <template if:true={showPauseButton}> <!-- pause -->
                <lightning-button
                    label={pauseLabel}
                    title={pauseLabel}
                    onclick={handlePause}>
                </lightning-button>
            </template>
        </lightning-layout-item>

        <!-- consider display either or both of prev, next or finish -->
        <lightning-layout-item  size="8" style="text-align:right;" >
            
            <template if:true={showPreviousButton}> <!-- previous -->
                <lightning-button
                    label={previousLabel}
                    title={previousLabel}
                    onclick={handlePreviousAction}>
                </lightning-button>
                &nbsp;
            </template>
            <template if:true={showNextButton}> <!-- next -->
                <lightning-button
                    variant="brand"
                    label={nextLabel}
                    title={nextLabel}
                    onclick={handleNextAction}>
                </lightning-button>
            </template>
            <template if:true={showFinishButton}> <!-- finish -->
                <lightning-button
                    variant="brand"
                    label={finishLabel}
                    title={finishLabel}
                    onclick={handleFinishAction}>
                </lightning-button>
            </template>
        </lightning-layout-item>
    </lightning-layout>
    </template>